# # Ignore build output directories
# Debug/
# Release/

# # Ignore STM32CubeIDE specific files
# .settings/
# .cproject
# .project
# ../.vscode/

# # Ignore generated linker scripts (if not modified by you)
# STM32F446RETX_FLASH.ld
# STM32F446RETX_RAM.ld

# # Ignore system files
# .DS_Store
# Thumbs.db

# # Ignore backup and temporary files
# *.bak
# *.swp
# *.tmp